body{
	background-color: #00bbf0;
}

.playerCard{
	border-style: solid;
	width: fit-content;
	padding: 10px;
	background: linear-gradient(#005792,#fdb44b );
}


.pupImage{
	width: 250px;
	border-radius: 15%;
	border-style: groove;
	border-color:  #00204a;
}

#displayedInfo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.header{
	display: flex;
	justify-content: center;
}